<h1>Edit User</h1>

<%= form_for(@user) do |f| %>
	<%= render 'fields_register_edit', :f => f %>
<% end %>

<div>
	<%= gravatar_for @user %>
	<a title = "Change Gravatar" href="http://gravatar.com/emails" target = '_blank'>change Gravatar</a>
</div>