<h1>Partners</h1>
<h3>Please login for access to project specific areas of the site.</h3>
<p>
	Logging in is required for other interactions with our site such as 
	commenting on the blog or providing feedback on our ideas. The login/logout 
	link is also found is also found at the top-right of most pages.
</p>
<%= link_to "Login", '#', :class => "login_button round" %>
<p></p>
<h3>If you are not already registered you can do so below.</h3>
<p>
	Please be sure to tell
	us what project or initiative you are involved with in the comments section. 
	Once you have competed the registration, our site admin will grant you the 
	appropriate access privileges.<br>
</p>

<%= link_to "Register Now", register_path, :class => "register_button round" %>